


<main>

  <% if (!html){ %>

    <div class="category-content-map">
      <h1><%= category.category_label %></h1>

      <p class="section_desc"><%= category.desc %></p>

      <% if(category.categories){ %>
        <% Object.keys(category.categories).forEach(function(prop, index) { %>
          <div class="each_section">
            <h2 class="each_section--name">SECTION <%- index+1 +" "+ prop%></h2>
            <div>
              <% category.categories[prop].forEach(function (cat){ %>
                <li>

                    <svg class="play_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <path d="M128,104.3v303.4c0,6.4,6.5,10.4,11.7,7.2l240.5-151.7c5.1-3.2,5.1-11.1,0-14.3L139.7,97.2C134.5,93.9,128,97.9,128,104.3z"/>
                    </svg>

                  <% if(category.category_name !== ""){ %>

                    <a href="/<%= category.category_name %>/<%=cat.name%>"><%=cat.label%></a>
                  <% } else{ %>
                  <a href="/<%=cat.name%>"><%=cat.label%></a>
                  <% }  %>
                </li>
              <% }) %>
            </div>
          </div>
        <% }); %>
      <% } %>
    </div>

  <%}%>

</main>
