<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <div class="header">
    <div class="site-inner main-nav">
     <div class="logo">
       <ul>
           <img src="/images/javascripttutorial.svg" alt="">
       </ul>
     </div>
     <ul class="menu">
       <li>Home</li>
       <li>ES6</li>
        <li>ADVANCED</li>
        <li>ES Next</li>
        <li>JS BOM</li>
        <li>JS DOM</li>
        <li>WEB API</li>
        <li>SNIPPETS</li>
        <li>TYPESCRIPT</li>
       </ul>
     </div>
    </div>

  </header>


  <div class="site-inner">
    <div class="site-inner__content">
      <div>
        {{{body}}}
      </div>
      <div class="secondary">
        {{#if category}}

          <h1>{{category.category_label}}</h1>

          {{#each category.categories}}

            <h2>{{@key}}</h2>

            <div>
              {{#each this}}
                <h4>{{category.category_label}}</h4>   <!--Not Accessible inside nested loop-->
                <a href="">{{this.label}}</a>
              {{/each}}
            </div>
          {{/each}}
        {{/if}}

      </div>
    </div>
  </div>




<!--    <script src="//localhost:35729/livereload.js?snipver=1"  defer=""></script>-->
  </body>
</html>
